.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-input {
  width: 40vmin;
  padding: 12px 24px;
  background-color: #ffffff;
}

.App-button {
  background-color: #62DAFB;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 8vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.App-error {
  width: 100%;
  color: red;
  font-size: 0.4em;
  font-style: italic;
  padding: 0;
  margin: 0;
}

.App-results {
  min-height: 44vh;
  width: 100%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
